/* 书籍样式 */
body {
	overflow: hidden;
}

.content_text {
	margin-top: 50px;
}

.flipbook-viewport {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.flipbook-viewport .container {
	position: absolute;
	overflow: hidden;
	/* top:50%;
	left:50%;
	margin:auto; */
	/* margin-top: 200px;
	margin-left: 500px; */
}

/* 书籍宽度设置 */
.flipbook-viewport .flipbook {
	width: 895px;
	height: 680px;
	/* left:-461px;
	top:-300px; */
	/* transform: scale(1) !important; */
}

.flipbook-viewport .page {
	/* width: 461px;
	height: 600px; */
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}



.flipbook .page {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.flipbook-viewport .page img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
}

.flipbook-viewport .shadow {
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	-o-box-shadow: 0 0 20px #ccc;
	-ms-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}

.img1 {
	background-image: url(https://www.html5tricks.com/demo/css3-page-flip/page1.jpg);
}

.img2 {
	background-image: url(../img/11.png);
	/* border-right: 25px solid -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0, 0, 0, 0))); */
	/* border-right: 2px dashed rgb(146, 141, 141); */
}

.img3 {
	background-image: url(../img/11.png);
}

.img4 {
	background-image: url(../img/11.png);
	/* border-right: 2px dashed rgb(146, 141, 141); */
}

.img5 {
	background-image: url(../img/11.png);
}

.img6 {
	background-image: url(../img/11.png);
	/* border-right: 2px dashed rgb(146, 141, 141); */
}

.img7 {
	background-image: url(../img/11.png);
}

.img8 {
	background-image: url(../img/11.png);
	/* border-right: 2px dashed rgb(146, 141, 141); */
}

.img9 {
	background-image: url(../img/11.png);
}

.img10 {
	background-image: url(../img/11.png);
	/* border-right: 2px dashed rgb(146, 141, 141); */
}

.img11 {
	background-image: url(../img/11.png);
}

.img12 {
	background-image: url(https://www.html5tricks.com/demo/css3-page-flip/page3.jpg);
}