/* body {
    background: pink;
} */

/* .nav {
    font-size: 1.5rem !important;
} */

/* .content .title {
    margin-top: 50px !important;
}

.content .content_text .text1 {
    font-size: 1.5rem !important;
} */

/* .popup {
    display: none !important;
}

.bottomBar {
    display: none !important;
} */