 /* .nav {
     font-size: 2rem !important;
 }

 .box .nav {
     display: none !important;
 } */

 /* .content .title {
     margin-top: 50px !important;
 }

 .content .content_text .text1 {
     font-size: 2rem !important;
 } */

 /* .popup {
     display: none !important;
 } */

 /* .bottomBar {
     height: 70px !important;
 } */